
/* Projet : test */

/*Feuille de style : reset*/
html:not(.EX-UI),body:not(.EX-UI){
min-width : 100%;
min-height : 100%;
height : 100%;
margin : 0;
padding : 0;
}
P:not(.EX-UI){
margin : 1em;
padding : 1em;
}
h1:not(.EX-UI){
margin : 1.5em;
}
img:not(.EX-UI){
margin : 2em;
padding : 3.75em;
}