
/* Projet : online */

/*Feuille de style : resetANDTools*/
@media screen and (max-width: 640px){
}
html.quadrillage:not(.css3ui):not(.toolsIcon){
background-size : 1.5em 1.5em;
background-position : left -3px,center center;
}
#tampon .bloc-main:not(.css3ui):not(.toolsIcon){
width : 60%;
margin : auto auto;
padding : 25px;
margin-bottom : 80px;
margin-top : 20px;
background-color : rgba(255,255,255,1);
box-shadow : 0 0 5px 0 rgba(0,0,0,1) ;
}
/*reset*/

html:not(.css3ui):not(.toolsIcon), body:not(.css3ui):not(.toolsIcon),#tampon  div:not(.css3ui):not(.toolsIcon),#tampon  span:not(.css3ui):not(.toolsIcon),#tampon  applet:not(.css3ui):not(.toolsIcon),#tampon  object:not(.css3ui):not(.toolsIcon),#tampon  iframe:not(.css3ui):not(.toolsIcon),#tampon 
h1:not(.css3ui):not(.toolsIcon),#tampon  h2:not(.css3ui):not(.toolsIcon),#tampon  h3:not(.css3ui):not(.toolsIcon),#tampon  h4:not(.css3ui):not(.toolsIcon),#tampon  h5:not(.css3ui):not(.toolsIcon),#tampon  h6:not(.css3ui):not(.toolsIcon),#tampon  p:not(.css3ui):not(.toolsIcon),#tampon  blockquote:not(.css3ui):not(.toolsIcon),#tampon  pre:not(.css3ui):not(.toolsIcon),#tampon 
a:not(.css3ui):not(.toolsIcon),#tampon  abbr:not(.css3ui):not(.toolsIcon),#tampon  acronym:not(.css3ui):not(.toolsIcon),#tampon  address:not(.css3ui):not(.toolsIcon),#tampon  big:not(.css3ui):not(.toolsIcon),#tampon  cite:not(.css3ui):not(.toolsIcon),#tampon  code:not(.css3ui):not(.toolsIcon),#tampon 
del:not(.css3ui):not(.toolsIcon),#tampon  dfn:not(.css3ui):not(.toolsIcon),#tampon  em:not(.css3ui):not(.toolsIcon),#tampon  img:not(.css3ui):not(.toolsIcon),#tampon  ins:not(.css3ui):not(.toolsIcon),#tampon  kbd:not(.css3ui):not(.toolsIcon),#tampon  q:not(.css3ui):not(.toolsIcon),#tampon  s:not(.css3ui):not(.toolsIcon),#tampon  samp:not(.css3ui):not(.toolsIcon),#tampon 
small:not(.css3ui):not(.toolsIcon),#tampon  strike:not(.css3ui):not(.toolsIcon),#tampon  strong:not(.css3ui):not(.toolsIcon),#tampon  sub:not(.css3ui):not(.toolsIcon),#tampon  sup:not(.css3ui):not(.toolsIcon),#tampon  tt:not(.css3ui):not(.toolsIcon),#tampon  var:not(.css3ui):not(.toolsIcon),#tampon 
b:not(.css3ui):not(.toolsIcon),#tampon  u:not(.css3ui):not(.toolsIcon),#tampon  i:not(.css3ui):not(.toolsIcon),#tampon  center:not(.css3ui):not(.toolsIcon),#tampon 
dl:not(.css3ui):not(.toolsIcon),#tampon  dt:not(.css3ui):not(.toolsIcon),#tampon  dd:not(.css3ui):not(.toolsIcon),#tampon  ol:not(.css3ui):not(.toolsIcon),#tampon  ul:not(.css3ui):not(.toolsIcon),#tampon  li:not(.css3ui):not(.toolsIcon),#tampon 
table:not(.css3ui):not(.toolsIcon),#tampon  caption:not(.css3ui):not(.toolsIcon), tbody:not(.css3ui):not(.toolsIcon),#tampon  tfoot:not(.css3ui):not(.toolsIcon),#tampon  thead:not(.css3ui):not(.toolsIcon),#tampon  tr:not(.css3ui):not(.toolsIcon),#tampon  th:not(.css3ui):not(.toolsIcon),#tampon  td:not(.css3ui):not(.toolsIcon),#tampon 
article:not(.css3ui):not(.toolsIcon),#tampon  aside:not(.css3ui):not(.toolsIcon),#tampon  canvas:not(.css3ui):not(.toolsIcon),#tampon  details:not(.css3ui):not(.toolsIcon),#tampon  embed:not(.css3ui):not(.toolsIcon),#tampon  
figure:not(.css3ui):not(.toolsIcon),#tampon  figcaption:not(.css3ui):not(.toolsIcon),#tampon  footer:not(.css3ui):not(.toolsIcon),#tampon  header:not(.css3ui):not(.toolsIcon),#tampon  hgroup:not(.css3ui):not(.toolsIcon),#tampon  
menu:not(.css3ui):not(.toolsIcon),#tampon  nav:not(.css3ui):not(.toolsIcon),#tampon  output:not(.css3ui):not(.toolsIcon),#tampon  ruby:not(.css3ui):not(.toolsIcon),#tampon  section:not(.css3ui):not(.toolsIcon),#tampon  summary:not(.css3ui):not(.toolsIcon),#tampon 
time:not(.css3ui):not(.toolsIcon),#tampon  mark:not(.css3ui):not(.toolsIcon),#tampon  audio:not(.css3ui):not(.toolsIcon),#tampon  video:not(.css3ui):not(.toolsIcon),#tampon FIELDSET:not(.css3ui):not(.toolsIcon),#tampon input:not(.css3ui):not(.toolsIcon){
margin : 0;
padding : 0;
}
body:not(.css3ui):not(.toolsIcon){
line-height : 1;
background-image : -webkit-url(/css3ui/js/yourproject/Contrast/img/background/skulls.png);
background-image : -moz-url(/css3ui/js/yourproject/Contrast/img/background/skulls.png);
background-image : -o-url(/css3ui/js/yourproject/Contrast/img/background/skulls.png);
background-image : -ms-url(/css3ui/js/yourproject/Contrast/img/background/skulls.png);
background-image : url(/css3ui/js/yourproject/Contrast/img/background/skulls.png);
}
#tampon FIELDSET:not(.css3ui):not(.toolsIcon){
border : 0 solid rgba(0,0,0,1);
}
#tampon STRONG:not(.css3ui):not(.toolsIcon){
color : rgba(225,120,43,1);
font-size : 1.065em;
}
#tampon A:not(.css3ui):not(.toolsIcon){
text-decoration : none;
color : rgba(225,120,43,1);
}
/*TEXT*/

#tampon h1:not(.css3ui):not(.toolsIcon),#tampon h2:not(.css3ui):not(.toolsIcon),#tampon h3:not(.css3ui):not(.toolsIcon),#tampon h4:not(.css3ui):not(.toolsIcon),#tampon h5:not(.css3ui):not(.toolsIcon),#tampon h6:not(.css3ui):not(.toolsIcon){
line-height : 1.5rem;
margin-bottom : 1.5rem;
font-family : Orbitron;
}
#tampon h1:not(.css3ui):not(.toolsIcon){
font-size : 1.5em;
}
#tampon h2:not(.css3ui):not(.toolsIcon){
font-size : 1.375em;
}
#tampon h3:not(.css3ui):not(.toolsIcon){
font-size : 1.25em;
}
#tampon h4:not(.css3ui):not(.toolsIcon){
font-size : 1.125em;
}
#tampon h5:not(.css3ui):not(.toolsIcon),#tampon h6:not(.css3ui):not(.toolsIcon){
font-size : 1em;
}
#tampon P:not(.css3ui):not(.toolsIcon){
font-size : 1rem;
line-height : 1.5rem;
margin-bottom : 1.5rem;
color : rgba(131,131,131,1);
font-family : consolas;
}
#tampon .text-col:not(.css3ui):not(.toolsIcon){
-webkit-column-count : 2;
-moz-column-count : 2;
-o-column-count : 2;
-ms-column-count : 2;
column-count : 2;
-webkit-column-gap : 3rem;
-moz-column-gap : 3rem;
-o-column-gap : 3rem;
-ms-column-gap : 3rem;
column-gap : 3rem;
-webkit-column-rule : 1px solid rgba(82,82,82,1);
-moz-column-rule : 1px solid rgba(82,82,82,1);
-o-column-rule : 1px solid rgba(82,82,82,1);
-ms-column-rule : 1px solid rgba(82,82,82,1);
column-rule : 1px solid rgba(82,82,82,1);
}
#tampon .chapeau:not(.css3ui):not(.toolsIcon){
font-weight : bold;
color : rgba(29,29,29,1);
}
#tampon .text-center:not(.css3ui):not(.toolsIcon){
text-align : center;
display : block;
}
/*Element de formulaire*/

#tampon FORM:not(.css3ui):not(.toolsIcon){
font-family : consolas;
}
#tampon LABEL:not(.css3ui):not(.toolsIcon){
height : 3rem;
-webkit-align-items : center;
-moz-align-items : center;
-o-align-items : center;
-ms-align-items : center;
align-items : center;
text-transform : uppercase;
display : flex;
margin-bottom : 1.5em;
margin-top : 1.5em;
-webkit-flex : 3;
-moz-flex : 3;
-o-flex : 3;
-ms-flex : 3;
flex : 3;
-webkit-flex-grow : 1;
-moz-flex-grow : 1;
-o-flex-grow : 1;
-ms-flex-grow : 1;
flex-grow : 1;
}
#tampon BUTTON:not(.css3ui):not(.toolsIcon){
width : 50%;
text-align : center;
display : flex;
margin : auto auto;
-webkit-justify-content : center;
-moz-justify-content : center;
-o-justify-content : center;
-ms-justify-content : center;
justify-content : center;
height : 3rem;
font-family : consolas;
margin-top : 1.5rem;
margin-bottom : 1.5rem;
}
#tampon INPUT[type='text']:not(.css3ui):not(.toolsIcon),#tampon INPUT[type='email']:not(.css3ui):not(.toolsIcon),#tampon INPUT[type='password']:not(.css3ui):not(.toolsIcon),#tampon SELECT:not(.css3ui):not(.toolsIcon){
height : 3rem;
border : 1px solid rgba(162,162,162,1);
font-size : 1.125em;
text-indent : 0.5em;
font-family : lobster;
-webkit-box-sizing : border-box;
-moz-box-sizing : border-box;
-o-box-sizing : border-box;
-ms-box-sizing : border-box;
box-sizing : border-box;
-webkit-flex : 1;
-moz-flex : 1;
-o-flex : 1;
-ms-flex : 1;
flex : 1;
}
/*Checkbox personnalisé*/

#tampon .web-switch-checkbox:not(.css3ui):not(.toolsIcon){
display : none;
}
#tampon .web-switch-label:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-align-self : center;
-moz-align-self : center;
-o-align-self : center;
-ms-align-self : center;
align-self : center;
-webkit-flex : 1;
-moz-flex : 1;
-o-flex : 1;
-ms-flex : 1;
flex : 1;
-webkit-justify-content : center;
-moz-justify-content : center;
-o-justify-content : center;
-ms-justify-content : center;
justify-content : center;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
}
#tampon .web-switch-container:not(.css3ui):not(.toolsIcon){
display : flex;
width : 3rem !important;
height : 3rem !important;
background-size : 100% 100%;
background-image : -webkit-url(/css3ui/js/yourproject/Contrast/img/background/squareNoCheck.png);
background-image : -moz-url(/css3ui/js/yourproject/Contrast/img/background/squareNoCheck.png);
background-image : -o-url(/css3ui/js/yourproject/Contrast/img/background/squareNoCheck.png);
background-image : -ms-url(/css3ui/js/yourproject/Contrast/img/background/squareNoCheck.png);
background-image : url(/css3ui/js/yourproject/Contrast/img/background/squareNoCheck.png);
}
#tampon .web-switch-label input:checked + .web-switch-container:not(.css3ui):not(.toolsIcon){
width : 24px;
height : 24px;
display : flex;
background-image : -webkit-url(/css3ui/js/yourproject/Contrast/img/background/squareCheck.png);
background-image : -moz-url(/css3ui/js/yourproject/Contrast/img/background/squareCheck.png);
background-image : -o-url(/css3ui/js/yourproject/Contrast/img/background/squareCheck.png);
background-image : -ms-url(/css3ui/js/yourproject/Contrast/img/background/squareCheck.png);
background-image : url(/css3ui/js/yourproject/Contrast/img/background/squareCheck.png);
}
/*Bouton radio personalisé*/

#tampon .web-switch-radio:not(.css3ui):not(.toolsIcon){
display : none;
}
#tampon .web-switchRadio-container:not(.css3ui):not(.toolsIcon){
background-size : 100% 100%;
width : 3rem;
height : 3rem;
display : flex;
background-image : -webkit-url(/css3ui/js/yourproject/Contrast/img/background/newNoCheck.png);
background-image : -moz-url(/css3ui/js/yourproject/Contrast/img/background/newNoCheck.png);
background-image : -o-url(/css3ui/js/yourproject/Contrast/img/background/newNoCheck.png);
background-image : -ms-url(/css3ui/js/yourproject/Contrast/img/background/newNoCheck.png);
background-image : url(/css3ui/js/yourproject/Contrast/img/background/newNoCheck.png);
}
#tampon .web-switch-label input:checked + .web-switchRadio-container:not(.css3ui):not(.toolsIcon){
background-image : -webkit-url(/css3ui/js/yourproject/Contrast/img/background/newCheck2.png);
background-image : -moz-url(/css3ui/js/yourproject/Contrast/img/background/newCheck2.png);
background-image : -o-url(/css3ui/js/yourproject/Contrast/img/background/newCheck2.png);
background-image : -ms-url(/css3ui/js/yourproject/Contrast/img/background/newCheck2.png);
background-image : url(/css3ui/js/yourproject/Contrast/img/background/newCheck2.png);
}
/*tweak TEXTAREA*/

#tampon .web-textarea TEXTAREA:not(.css3ui):not(.toolsIcon){
display : flex;
width : 100%;
min-height : 9rem;
}
/*Size*/

#tampon .ma:not(.css3ui):not(.toolsIcon){
margin : 1.5rem;
}
#tampon .pa:not(.css3ui):not(.toolsIcon){
padding : 1.5rem !important;
-webkit-box-sizing : border-box;
-moz-box-sizing : border-box;
-o-box-sizing : border-box;
-ms-box-sizing : border-box;
box-sizing : border-box;
}
#tampon .maTopBot:not(.css3ui):not(.toolsIcon){
margin-top : 1.5rem;
margin-left : 0;
margin-bottom : 1.5rem;
margin-right : 0;
}
#tampon .half:not(.css3ui):not(.toolsIcon){
margin : 0;
min-width : 50%;
}
#tampon .half-rpv:not(.css3ui):not(.toolsIcon){
-webkit-flex : 1 450px auto;
-moz-flex : 1 450px auto;
-o-flex : 1 450px auto;
-ms-flex : 1 450px auto;
flex : 1 450px auto;
-webkit-flex-basis : 450px;
-moz-flex-basis : 450px;
-o-flex-basis : 450px;
-ms-flex-basis : 450px;
flex-basis : 450px;
}
/*width*/

#tampon .w100:not(.css3ui):not(.toolsIcon){
width : 100%;
}
/*Flex*/

#tampon .flexBasic:not(.css3ui):not(.toolsIcon){
display : flex;
}
#tampon .flexRow-wrap:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
-webkit-flex-wrap : nowrap;
-moz-flex-wrap : nowrap;
-o-flex-wrap : nowrap;
-ms-flex-wrap : nowrap;
flex-wrap : nowrap;
}
#tampon .flexRow-noWrap:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
-webkit-flex-wrap : nowrap;
-moz-flex-wrap : nowrap;
-o-flex-wrap : nowrap;
-ms-flex-wrap : nowrap;
flex-wrap : nowrap;
}
#tampon .flexColumn-noWrap:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : column;
-moz-flex-direction : column;
-o-flex-direction : column;
-ms-flex-direction : column;
flex-direction : column;
-webkit-flex-wrap : nowrap;
-moz-flex-wrap : nowrap;
-o-flex-wrap : nowrap;
-ms-flex-wrap : nowrap;
flex-wrap : nowrap;
}
#tampon .flexColumn-wrap:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : column;
-moz-flex-direction : column;
-o-flex-direction : column;
-ms-flex-direction : column;
flex-direction : column;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
}
#tampon .FRN-center:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
-webkit-flex-wrap : nowrap;
-moz-flex-wrap : nowrap;
-o-flex-wrap : nowrap;
-ms-flex-wrap : nowrap;
flex-wrap : nowrap;
-webkit-align-items : center;
-moz-align-items : center;
-o-align-items : center;
-ms-align-items : center;
align-items : center;
}
#tampon .FRN-center-center:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
-webkit-flex-wrap : nowrap;
-moz-flex-wrap : nowrap;
-o-flex-wrap : nowrap;
-ms-flex-wrap : nowrap;
flex-wrap : nowrap;
-webkit-justify-content : center;
-moz-justify-content : center;
-o-justify-content : center;
-ms-justify-content : center;
justify-content : center;
-webkit-align-items : center;
-moz-align-items : center;
-o-align-items : center;
-ms-align-items : center;
align-items : center;
}
#tampon .FRW-around-center:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
-webkit-justify-content : space-around;
-moz-justify-content : space-around;
-o-justify-content : space-around;
-ms-justify-content : space-around;
justify-content : space-around;
-webkit-align-items : center;
-moz-align-items : center;
-o-align-items : center;
-ms-align-items : center;
align-items : center;
}
#tampon .FRW-center-center:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
-webkit-justify-content : center;
-moz-justify-content : center;
-o-justify-content : center;
-ms-justify-content : center;
justify-content : center;
-webkit-align-items : center;
-moz-align-items : center;
-o-align-items : center;
-ms-align-items : center;
align-items : center;
}
#tampon .FRW-between-center:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : row;
-moz-flex-direction : row;
-o-flex-direction : row;
-ms-flex-direction : row;
flex-direction : row;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
-webkit-justify-content : space-between;
-moz-justify-content : space-between;
-o-justify-content : space-between;
-ms-justify-content : space-between;
justify-content : space-between;
-webkit-align-items : center;
-moz-align-items : center;
-o-align-items : center;
-ms-align-items : center;
align-items : center;
}
#tampon .FCW-around:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : column;
-moz-flex-direction : column;
-o-flex-direction : column;
-ms-flex-direction : column;
flex-direction : column;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
-webkit-justify-content : space-around;
-moz-justify-content : space-around;
-o-justify-content : space-around;
-ms-justify-content : space-around;
justify-content : space-around;
}
#tampon .FCW-center:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : column;
-moz-flex-direction : column;
-o-flex-direction : column;
-ms-flex-direction : column;
flex-direction : column;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
-webkit-justify-content : center;
-moz-justify-content : center;
-o-justify-content : center;
-ms-justify-content : center;
justify-content : center;
}
#tampon .stretch:not(.css3ui):not(.toolsIcon){
-webkit-align-self : stretch;
-moz-align-self : stretch;
-o-align-self : stretch;
-ms-align-self : stretch;
align-self : stretch;
}
#tampon .grow:not(.css3ui):not(.toolsIcon){
-webkit-flex : 1;
-moz-flex : 1;
-o-flex : 1;
-ms-flex : 1;
flex : 1;
}
/*Tools*/

#tampon .web-inside:not(.css3ui):not(.toolsIcon){
margin-left : auto;
margin-right : auto;
-webkit-border-top-left-radius :  56px;
-moz-border-top-left-radius :  56px;
-o-border-top-left-radius :  56px;
-ms-border-top-left-radius :  56px;
border-top-left-radius :  56px;
}
/*Exemple d'objet 3d*/

#tampon .EX3D:not(.css3ui):not(.toolsIcon){
min-height : 500px;
display : flex;
-webkit-flex-direction : column;
-moz-flex-direction : column;
-o-flex-direction : column;
-ms-flex-direction : column;
flex-direction : column;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
box-shadow : 0 0 8px 0px rgba(0,0,0,1) ;
}
/*cube*/

#tampon .perspective:not(.css3ui):not(.toolsIcon){
perspective : 1000px;
height : 300px;
width : 300px;
}
#tampon .cube:not(.css3ui):not(.toolsIcon){
-webkit-transform-style : preserve-3d;
-moz-transform-style : preserve-3d;
-o-transform-style : preserve-3d;
-ms-transform-style : preserve-3d;
transform-style : preserve-3d;
transition : all 5s linear 0s;
transform-origin : 50% 50%;
width : 300px;
height : 300px;
transform : rotateX(-25deg) rotateY(45deg);
}
#tampon .cube:hover:not(.css3ui):not(.toolsIcon){
transform : rotateX(360deg) rotateY(360deg);
}
#tampon .cube .shape:not(.css3ui):not(.toolsIcon){
position : absolute;
width : 300px;
height : 300px;
-webkit-border-radius : 31px;
-moz-border-radius : 31px;
-o-border-radius : 31px;
-ms-border-radius : 31px;
border-radius : 31px;
border : 5px solid rgba(0,0,0,0.55);
-webkit-box-sizing : border-box;
-moz-box-sizing : border-box;
-o-box-sizing : border-box;
-ms-box-sizing : border-box;
box-sizing : border-box;
display : block;
}
#tampon .cube .front:not(.css3ui):not(.toolsIcon){
transform : translateZ(150px);
background : rgba(202,183,47,1);
background-color : rgba(192,175,56,0.5);
}
#tampon .cube .back:not(.css3ui):not(.toolsIcon){
background-color : rgba(41,214,222,0.65);
transform : rotateY(180deg) translateZ(150px);
}
#tampon .cube .top:not(.css3ui):not(.toolsIcon){
background-color : rgba(197,211,88,0.6);
transform : rotateX(90deg) translateZ(150px);
}
#tampon .cube .bottom:not(.css3ui):not(.toolsIcon){
transform : rotateX(-90deg) translateZ(150px);
background-color : rgba(188,44,44,0.8);
}
#tampon .cube .left:not(.css3ui):not(.toolsIcon){
transform : rotateY(-90deg) translateZ(150px);
background-color : rgba(240,100,181,0.75);
}
#tampon .cube .right:not(.css3ui):not(.toolsIcon){
transform : rotateY(90deg) translateZ(150px);
background-color : rgba(202,183,47,1);
}
/*webPage*/

#tampon .rupture:not(.css3ui):not(.toolsIcon){
min-width : 450px;
}
#tampon .text-illustration:not(.css3ui):not(.toolsIcon){
}
#tampon .text-illustration P:not(.css3ui):not(.toolsIcon){
}
#tampon .text-illustration IMG:not(.css3ui):not(.toolsIcon){
float : left;
margin-right : 1.5rem;
margin-bottom : 1rem;
}
/*Feuille de style : online*/
#tampon .coming-soon:not(.css3ui):not(.toolsIcon){
display : flex;
-webkit-flex-direction : column;
-moz-flex-direction : column;
-o-flex-direction : column;
-ms-flex-direction : column;
flex-direction : column;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
-webkit-justify-content : center;
-moz-justify-content : center;
-o-justify-content : center;
-ms-justify-content : center;
justify-content : center;
-webkit-align-items : center;
-moz-align-items : center;
-o-align-items : center;
-ms-align-items : center;
align-items : center;
border-top : 3em solid rgba(0,0,0,0.4);
padding-top : 1em;
border-left : 1px solid rgba(120,120,120,1);
border-bottom : 1px solid rgba(120,120,120,1);
border-right : 1px solid rgba(120,120,120,1);
box-shadow : 0 1px 5px 0 rgba(0,0,0,1) ;
}
#tampon .bloc-main:not(.css3ui):not(.toolsIcon){
min-height : 600px;
display : flex;
-webkit-flex-direction : column;
-moz-flex-direction : column;
-o-flex-direction : column;
-ms-flex-direction : column;
flex-direction : column;
-webkit-justify-content : center;
-moz-justify-content : center;
-o-justify-content : center;
-ms-justify-content : center;
justify-content : center;
-webkit-flex-wrap : wrap;
-moz-flex-wrap : wrap;
-o-flex-wrap : wrap;
-ms-flex-wrap : wrap;
flex-wrap : wrap;
}