
/* Projet : crazyburger */

/*Feuille de style : style*/
/*reset*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
margin : 0;
padding : 0;
border : 0 solid rgba(0,0,0,1);
font-size : 100%;
font-family : inherit;
vertical-align : baseline;
}
body{
line-height : 1;
overflow-x : hidden;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
display : block;
}
html,body{
font-size : 16px;
width : 100%;
height : 100%;
}
ol,ul{
list-style-type : none;
}
table{
border-collapse : collapse;
}
A{
text-decoration : none;
color : rgba(0,0,0,1);
}
/*variable*/

.pr-color{
background-color : rgba(191,54,4,1);
}
pr-color-o{
background : rgba(191,54,4,1);
background-color : rgba(191,54,4,0.8);
}
.pr-color-left{
background-color : rgba(242,116,5,1);
}
pr-color-leftMost{
background-color : rgba(191,179,4,1);
}
pr-color-right{
background-color : rgba(166,88,60,1);
}
pr-color-justRight{
background-color : rgba(64,27,19,1);
}
h1{
margin : 5em;
padding : 2em;
border : 8px solid rgba(255,255,255,1);
width : 100%;
}
reset{
}
/*Icon hamburger*/

.menu-icon{
width : 54px;
height : 54px;
background : rgba(64,27,19,1);
border-radius : 50%;
position : absolute;
top : 0.5rem;
right : 0.5rem;
z-index : 10;
cursor : pointer;
}
.menu-icon span{
display : block;
position : absolute;
content : blank;
width : 22px;
height : 2px;
background-color : rgba(255,255,255,1);
transform : translateX(-50%) translateY(50%);
top : 50%;
left : 50%;
}
.menu-icon span::before,.menu-icon span::after{
display : block;
position : absolute;
width : 22px;
height : 2px;
background-color : rgba(255,255,255,1);
transform : translateY(-6px);
transition : all 500ms linear 0s;
content : blank;
}
.menu-icon span::after{
transform : translateY(6px);
}
.menu-icon:hover span::before{
transform : translateY(-8px);
}
.menu-icon:hover span::after{
transform : translateY(8px);
}
/*menu-icon-cross*/

.menu-icon-cross{
transition : all 500ms linear 0s;
}
.menu-icon-cross span::before,.menu-icon span::after{
transform-origin : 50% 50%;
}
.menu-icon-cross span{
transition : background 0.5s linear 0s,transform 0.5s linear 0s;
}
.menu-icon-cross svg{
background : rgba(64,27,19,1);
}