
/* Projet : newUI */

/*Feuille de style : basic*/
/*newPanel*/

/*.n-CMA-panelControl *{
/*display : block;*//*
}*/
.n-CMA-panelControl{
display : flex;
flex-direction : column;
flex-wrap : nowrap;
border-left : 5px solid rgba(255,174,0,1);
z-index : 10;
width : 402px;
position : fixed;
top : 0;
right : 0;
bottom : 0;
background-color : rgba(34,40,42,1);
transition : all 0.5s linear 0s;
}
.n-CMA-iconCss{
display : flex;
flex-direction : column;
flex-wrap : nowrap;
}
.n-CMA-panelControl:hover{
right : 0;
}
.fixe-panelControl{
content : " ";
width : 100%;
height : 12px;
background-color : rgba(255,174,0,1);
min-height : 12px;
}
.flexPanel{
display : flex;
flex-direction : row;
flex-wrap : nowrap;
flex : 1;
}
#n-panelControl{
z-index : 10;
display : flex;
flex-direction : column;
flex-wrap : nowrap;
justify-content : space-between;
/*background-color : rgba(138,30,30,1);*/
flex : 1;
align-content : stretch;
border-left : 1px solid rgba(102,102,102,1);
}
#n-controlInsideDb{
display : flex;
flex-direction : column;
min-height : 100%;
flex-wrap : nowrap;
justify-content : space-between;
}
#n-ControlDb{
display : flex;
flex-direction : column;
flex : 1;
}
/*iconPanel*/

.n-icon IMG{
height : 32px;
}
.n-tabIcon-preview{
display : flex;
flex-direction : column;
flex-wrap : nowrap;
/*background-color : rgba(59,40,129,1);*/
flex : 1;
margin-bottom : 46px;
}
.n-css3ui-imgIcon{
margin-top : 0.5rem;
height : 32px;
width : 32px;
margin-left : 0.5rem;
margin-right : 0.5rem;
margin-bottom : 0.5rem;
}
.n-css3ui-hr{
content : " ";
height : 1px;
background-color : rgba(158,158,158,1);
padding-left : -1rem;
padding-right : -1rem;
margin-top : 0.5rem;
margin-bottom : 0.5rem;
}
/*project Panel*/

#n-ControlDb FIELDSET{
border : 0 solid rgba(0,0,0,1);
display : flex;
flex-direction : column;
flex-wrap : nowrap;
flex : 1;
}
#n-ControlDb FIELDSET h1{
width : 100%;
text-align : center;
color : rgba(255,255,255,1);
font-size : 1em;
border-bottom : 1px solid rgba(255,255,255,1);
margin : 0;
margin-bottom : 0.750rem;
padding : 0;
}
#n-tabProject{
display : flex;
}
.n-ULProject{
display : flex;
flex-direction : column;
flex-wrap : nowrap;
flex-shrink : auto;
flex : 1;
border : 1px solid rgba(0,0,0,1);
box-sizing : border-box;
box-shadow : 0 0 3em 0 rgba(0,0,0,1) inset;
}
.n-ULProject LI{
/*padding : 0.25rem;*/
background-color : rgba(88,88,88,1);
}
.n-ULProject LI:nth-child(2n){
background-color : rgba(128,128,128,1);
border-bottom : 1px solid rgba(48,48,48,1);
}
.n-ULProject A{
text-align : center;
color : rgba(255,255,255,1);
padding-left : 0.75rem;
padding-right : 0.5rem;
padding-top : 0.375rem;
padding-bottom : 0.375rem;
}
.n-ULProject li:hover,.n-ULProject li:nth-child(2n):hover{
background-color : rgba(255,70,60,1);
}
.n-tabProject-active{
background-color : rgba(100,160,40,1);
}